lambdas/api/pipelines/post_pipelines_async/step_function_definition.json
{
  "Comment": "Pipeline Creation State Machine",
  "StartAt": "ValidatePipelineDefinition",
  "States": {
    "BuildStepFunctionDefinition": {
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FailState",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CreateStepFunction",
      "Resource": "${BuildStepFunctionDefinitionLambdaArn}",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    },
    "CheckExistingPipeline": {
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FailState",
          "ResultPath": "$.error"
        }
      ],
      "Next": "PipelineExistsChoice",
      "Resource": "${CheckExistingPipelineLambdaArn}",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    },
    "CheckPipelineValidity": {
      "Choices": [
        {
          "BooleanEquals": false,
          "Next": "FailState",
          "Variable": "$.isValid"
        }
      ],
      "Default": "CheckExistingPipeline",
      "Type": "Choice"
    },
    "CleanupExistingResources": {
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FailState",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CreateLambdaFunctions",
      "Resource": "${CleanupExistingResourcesLambdaArn}",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    },
    "CreateEventBridgeRules": {
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FailState",
          "ResultPath": "$.error"
        }
      ],
      "Next": "StorePipelineInfo",
      "Resource": "${CreateEventBridgeRulesLambdaArn}",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    },
    "CreateLambdaFunctions": {
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FailState",
          "ResultPath": "$.error"
        }
      ],
      "Next": "BuildStepFunctionDefinition",
      "Resource": "${CreateLambdaFunctionsLambdaArn}",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    },
    "CreateStepFunction": {
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FailState",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CreateEventBridgeRules",
      "Resource": "${CreateStepFunctionLambdaArn}",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    },
    "FailState": {
      "Cause": "Pipeline creation failed. Check the execution history for details.",
      "Error": "PipelineCreationFailed",
      "Type": "Fail"
    },
    "PipelineExistsChoice": {
      "Choices": [
        {
          "BooleanEquals": true,
          "Next": "CleanupExistingResources",
          "Variable": "$.pipelineExists"
        }
      ],
      "Default": "CreateLambdaFunctions",
      "Type": "Choice"
    },
    "StorePipelineInfo": {
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FailState",
          "ResultPath": "$.error"
        }
      ],
      "Next": "SuccessState",
      "Resource": "${StorePipelineInfoLambdaArn}",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    },
    "SuccessState": {
      "Type": "Succeed"
    },
    "ValidatePipelineDefinition": {
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FailState",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckPipelineValidity",
      "Resource": "${ValidatePipelineLambdaArn}",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    }
  }
}
